<script>
	import { token, discord, channelID, router } from "../store"
	import DiscordIO from "../discordio.js"
    import Spinner from '../components/Spinner'

	let error = "",
		loading = false

	function clearError() {
		error = ""
	}

	let _token = localStorage.getItem("token")
	if (_token) {
		token.set(_token)
	}

	function submit() {
		if (!$channelID) {
			error = "Channel ID must not be empty!"
			return
		}

		if ($discord && $discord.internals.token == $token) {
			goto($channelID)
			return
		}

		let client = new DiscordIO.Client({ token: $token })

		client.on("disconnect", err => {
			loading = false
			error = err
		})

		client.on("ready", () => {
			loading = false

			// token and channelID are already bound, set client
			discord.set(client)

			// Set local storage for ease
			localStorage.setItem("token", $token)

			goto($channelID)
		})

		loading = true
		error = ""
		client.connect()
	}

	function goto(channelID) {
		let channel = $discord.channels[channelID]
		if (!channel) {
			error = "Invalid channel ID"
			return
		}

		let guild = channel.guild_id || "@me"

		// Goto that channel
		$router.route(`/channels/${guild}/${channel.id}`, true)
	}
</script>

<style>
	.auth {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
		align-items: flex-start;
		max-width: 600px;
		margin: auto;
	}

	.auth > input, button {
		padding: 10px;
        margin: 5px;
        border: 1px solid var(--bg-dark);
	}

	.auth > input {
		width: 100vw;
		max-width: 300px;
		transition: border-color var(--input-transition);
	}

	.auth > input:focus {
		outline: 0;
		border-color: var(--accent);
	}

    .auth > button {
        background-color: var(--bg-dark);
		transition: all var(--input-transition);
    }

	.auth > button:hover:not([disabled]) {
		background-color: var(--bg);
	}

	.auth > button:focus {
		border-color: var(--accent);
		outline: 0;
	}

	.dialog {
		padding: 1em;
		margin: 0.7em 0;
		cursor: pointer;
		font-family: monospace;
		text-align: center;
	}

	.error {
		color: red;
		border: 1px solid red;
	}

	.loading {
		color: green;
        border: none;
	}
</style>

<div class="auth">
	{#if error != ''}
	<div class="dialog error" on:click={clearError}>{error}</div>
	{:else if loading}
    <div class="dialog loading">
        <Spinner />
    </div>
	{/if}

	<input
		type="password"
		id="token"
		bind:value={$token}
		placeholder="Your token here" />

	<input
		type="text"
		id="channel"
		bind:value={$channelID}
		value="361910177961738244"
		placeholder="Channel ID" />

	<button on:click={submit} disabled={loading}>Authenticate</button>
</div>
