<script>
	// Store stuff
	import { discord, router, channelID } from "../store.js"

	// Guild tray
	import Guilds from "../components/Guilds.svelte"

	// Channel view
	import Channel from "../components/Channel.svelte"

	// Channel list
	import ChannelList from "../components/ChannelList.svelte"

	let channel = $discord.channels[$channelID]
</script>

<style>
	#main {
		display: grid;
		grid-template-columns: 260px 1fr; /* sidebar, right-side */
		grid-template-areas: "sidebar channel";

		height: 100vh;

		padding: 0;
		font-size: 0.9em;
		font-family: "San Francisco", sans-serif;

		background: var(--bg-light);
	}

	/* Responsive mobile UI, hide sidebar */
	@media only screen and (max-width: 46.875em) {
		#main {
			grid-template-columns: 0px;
		}

		#main > aside {
			transform: translateX(-100vw);
			width: 100vw;
		}

		#main > aside:active {
			transform: translateX(0);
		}
	}

	#main > aside {
		display: flex;
		z-index: 2;
		grid-area: sidebar;
		transition: transform 120ms cubic-bezier(0, 0.63, 0.64, 0.99);
		background-color: var(--bg-light);
		border-right: 1px solid var(--bg-dark);
	}

	#main > div.channel {
		display: flex;
		flex-direction: column;
		height: 100vh;
		grid-area: channel;
	}

	/* Overlay scrollbars */
	:global(::-webkit-scrollbar-track) {
		background-color: #00000011;
		border-radius: 0px;
	}

	:global(::-webkit-scrollbar) {
		width: 4px;
		background-color: #F5F5F5;
	}

	:global(::-webkit-scrollbar-thumb) {
		background-color: #3B3B3B;
		border-radius: 0px;
	}
</style>

<svelte:head>
	<title>#{channel.name} - svcord</title>
</svelte:head>

<div id="main">
	<!-- Sidebar, for channels and guilds -->
	<aside>
		<Guilds />
		<ChannelList />
	</aside>

	<!-- Right section, main content -->
	<div class="channel">
		<Channel style="grid-area: chat" />
	</div>
</div>
