<script>
	// Store stuff
	import { discord, channelID, guildID } from "../store.js"

	let channel = $discord.channels[$channelID],
		guild   = $discord.servers[$guildID]

	// Individual message component
	import Message from "../components/Message.svelte"

	// Message renderer stuff, need this for emoji parsing
	import render from "../render.js"
	import utils from "../utils.js"

	// onMount hook
	import { onMount } from "svelte"

	let error,
		messageBox,
        message = "",
        messages = []

	onMount(() => {
		$discord.getMessages({
			channelID: channel.id,
			limit: 25,
		}, (err, newMsgs) => {
			if (err) {
				error = err
				return
			}

			let prevId = ""

			for (let i = newMsgs.length - 1; i >= 0; i--) {
				const m = newMsgs[i]

				// Whether the next message should be the one that squashes
				m.squash = prevId === m.author.id

				// Set the previous author ID for next iteration
				prevId = m.author.id
			}

			// Update the messages array the Svelte(tm)(R) way
			messages = newMsgs

			console.log(messages)
		})

		$discord.on("message", (name, id, chID, message, ev) => {
			if (chID != channel.id) {
				// Update guild status to unread
				let g = $discord.servers[ev.d.guild_id]

				// g.id != guild.id guarantees the unread guild is not the
				// current guild, !guild skips if we're not in any
				if (g && !g.unread && (!guild || g.id != guild.id)) {
					// Not using g to set because rEaCtIvItY
					$discord.servers[ev.d.guild_id].unread = true
				}

				return
			}

			let squash = messages.length && 
				messages[0].author.id === ev.d.author.id

			ev.d.squash = squash
            messages = [ev.d, ...messages]

			console.log(ev.d)
		})
	})

	function boxResize() {
		messageBox.style.height = "0px" // reset so it doesn't screw up
		messageBox.style.height = messageBox.scrollHeight - 10 + "px"
	}

	function sendMessage(e) {
		if (e.keyCode === 13 && !e.shiftKey) {
			// Not add a new line
			e.preventDefault()

			// Clear the input, prevents the chat from blocking
			let content = message
			message = ""

			$discord.sendMessage({
				to: channel.id,
				message: content,
			}, (err, recv) => {
				if (err) {
					error = err
					console.log("Failed to send\n" + content)
				}
			})
		}
	}
</script>

<style>
	header {
		display: flex;
		align-items: center;
		background-color: var(--bg-light);
		border-bottom: 1px solid var(--bg-dark);
	}

	header > * {
		padding: 4px 15px;
		margin: 10px 0;
	}

	header > h1 {
		font-size: 1.25em;
	}

	header > span {
		border-left: 1px solid rgba(0, 0, 0, 0.25);
		text-overflow: ellipsis;
    	white-space: nowrap;
    	overflow: hidden;
	}

	footer {
		display: flex;
	    z-index: 0;
		border-top: 1px solid var(--bg-dark);
	}

	div.messages {
	    display: flex;
	    flex: 1;
	    flex-direction: column-reverse;
	    overflow: auto;
	    white-space: pre-line;
	    word-break: break-word;
		padding-bottom: 10px;
	}

	textarea.send {
		border: 2px solid darkgray;
		border-radius: 18px;
		margin: 10px;
		padding: 6px 16px;
		height: 1.25em;
		max-height: 120px;
		overflow: hidden;
		resize: none;
		flex: 1;
		font-family: inherit;
		transition: border-color var(--input-transition);
	}

	textarea.send:focus {
		outline: 0;
		border-color: #4285f4;
	}
</style>

<!-- Header, for channel name and stuff -->
<header>
	<h1>#{channel.name}</h1>
	<span>{@html render.emojis(utils.escapeHTML(channel.topic))}</span>
</header>

<!-- The middle chat area -->
<div class="messages">
	{#each messages as msg (msg.id)}
		<Message {msg} />
	{/each}
</div>

<!-- The footer chat message box -->
<footer>
	<textarea
		class="send"
		placeholder="Message to #{channel.name}"
		bind:this={messageBox}
		bind:value={message}
		on:input={boxResize}
		on:keypress={sendMessage} />
</footer>
