<script>
	// Store stuff
	import { discord, channelID, guildID } from "../store.js"

	import utils from "../utils.js"

	let guild = $discord.servers[$guildID]

	/* 
		$discord.internals docs
			"oauth" {}
			"version" ?
			"settings" [
				"render_reactions", "afk_timeout", "locale",
				"inline_embed_media", "gif_auto_play", 
				"explicit_content_filter", "message_display_compact",
				"theme", "render_embeds", "show_current_game",
				"inline_attachment_media", "status", "timezone_offset",
				"enable_tts_command", "disable_games_tab", "restricted_guilds",
				"detect_platform_accounts", "developer_mode", 
				"default_guilds_restricted", "convert_emoticons", 
				"guild_positions", "guild_folders", "friend_source_flags", 
				"animate_emoji"
			] 
			"token"
			"gatewayUrl"
			"sequence"
			"sessionID"
			"heartbeat" ping?
		]
	*/

	// we'll try and break down a flat and unordered list of channels into a
	// tree-like object
	function channelSort(guild) {
		let toplevel = []

		let p = {} // children: [], underlying: {}
		for (let c of Object.values(guild.channels)) {
			if (c.type == 2) {
				continue // skip voice
			}

			// is not category and has a parent
			if (c.type != 4 && c.parent_id) {
				if (p[c.parent_id]) {
					p[c.parent_id].children.push(c)
				} else {
					p[c.parent_id] = {
						underlying: null,
						children: [c],
					}
				}

				continue
			}

			if (p[c.id]) {
				p[c.id].underlying = c
			} else {
				p[c.id] = {
					underlying: c,
					children: [],
				}
			}
		}

		for (let id in p) {
			if (p[id].children) {
				p[id].children.sort((i, j) => {
					return i.position < j.position
				})
			}

			toplevel.push(p[id])
		}

		toplevel.sort((i, j) => {
			return i.underlying < j.underlying
		})

		toplevel.sort((i, j) => {
			return !i.children
		})

		return toplevel
	}

	// top level just contains the top level channels and categories
	$: toplevel = channelSort(guild)
</script>

<style>
	.guild {
		display: flex;
		flex-direction: column;
		height: 100vh;
		flex: 1;
	}

	.guild > header {
		border-bottom: 1px solid var(--bg-dark);
	}

	.guild > header h1 {
		font-size: 1.25em;
		padding: 4px 15px;
    	margin: 10px 0;
	}

	.guild > .channel-list {
		flex: 1;
		overflow-y: scroll;
    	overflow-x: hidden;
	}

	.guild > .channel-list::-webkit-scrollbar {
		width: 0px;
	}

	.category {
    	margin: 0 15px;
	}

	.category > h1 {
		font-size: 1em;
		margin: 10px 0 5px 0;
	}

	.channel {
		margin: 1px 0 1px 10px;
    	padding: 2px 5px;
	}

	.channel:before {
		content: "#";
		font-weight: 800;
		font-size: 1.2em;
		padding-right: 4px;
	}

	.channel {
		opacity: 0.8;
	}

	.channel.active {
		opacity: 1;
		background-color: var(--accent);
		color: var(--bg-light);
	}
</style>

<div class="guild" id={guild.id}>
	<header>
		<h1>{guild.name}</h1>
	</header>
	<div class="channel-list">
		{#each toplevel as obj}

		{#if obj.children}
		<div class="category" id={obj.underlying.id}>
			<h1>{obj.underlying.name}</h1>

			{#each obj.children as c}
			<div class="channel {c.id == $channelID ? 'active' : ''}"
				 id={c.id}>{c.name}</div>
			{/each}
		</div>
		{:else}
		<div class="channel {obj.underlying.id == $channelID ? 'active' : ''}" 
			 id={obj.underlying.id}>{obj.underlying.name}</div>
		{/if}

		{/each}
	</div>
</div>
