<script>
	import { discord, guildID } from "../store.js"

	function guildIcon(guild) {
		if (!guild.icon) return "//:0" // no image
		return `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=64`
	}

	function clickGuild(id) {
		$discord.servers[id].unread = false
	}
</script>

<style>
	.guilds {
		width: 64px;
		display: block;
    	flex-direction: column;
		overflow-y: scroll;
    	overflow-x: hidden;
		height: 100vh;

		border-right: 1px solid var(--bg-dark);
	}

	.guilds::-webkit-scrollbar {
		width: 0px;
	}

	.guild-icon {
		background-color: var(--bg);
	    border: 1px solid var(--bg-dark);
		transition: background-color 100ms linear;
	    width: 46px;
	    height: 46px;
	    padding: 4px;
	    margin: 1px 4px;
	    border-radius: 28px;
	}

	.guild-icon.active {
		background-color: var(--accent);
	}

	.guild-icon.unread {
		background-color: var(--bg-dark);
	}
</style>

{@debug guilds}

<div class="guilds">
	<img class="guild-icon" src="/assets/friends.png"
	     alt="Direct Messages" title="Direct Messages" />

	{#each Object.entries($discord.servers) as [id, guild] (guild.id)}
	<img src={guildIcon(guild)} 
		 alt={guild.name}
		 title={guild.name}
		 id={guild.id}
		 class="guild-icon
		 		{guild.id == $guildID ? 'active' : ''}
				{guild.unread ? 'unread' : ''}"
   on:click={() => clickGuild(guild.id)} />
	{/each}
</div>
