<script>
	export let msg
	import render from "../render.js"
	import { discord } from "../store.js"
	import { userAvatar } from "../utils.js"

	let channel = $discord.channels[msg.channel_id]

	function username() {
		return msg.author.username

		// In case of Direct Messages
		if (!channel.guild_id) return msg.author.username

		console.log(channel)
		console.log($discord.servers)

		let member = $discord.servers[channel.guild_id].find(m => {
			return m.user.id == msg.author.id
		})

		console.log(member)

		// If member not found
		if (!member) return msg.author.username

		return member.nick || member.user.username
	}

	// Mark avatar as reactive?
	$: avatar = userAvatar(msg.author) + "?size=64"
	$: content = render.messageContent(msg, $discord.id)
	$: nickname = username()

	import utils from "../utils.js"
</script>

<style>
	.message {
		display: flex;
	}

	.message:not(.squashed) {
		border-top: 1px solid var(--bg-dark);
		margin-top: 10px;
	}

	.message > div {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		line-height: 1.2em;
		flex: 1;
	}

	img.avatar {
		width: 42px;
		height: 42px;
		border-radius: 50%;
		margin-right: 10px;
		margin-left: 10px;
		box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
	}

	.message-content {
		display: flex;
		flex-direction: column;
		line-height: 1.5em;
	}

	.message-content.squashed {
		margin-left: 62px;
	}

	.author {
		font-weight: bolder;
		margin-top: 12px;
	}

	.author > .timestamp,
	span.edited {
		font-weight: lighter;
		font-size: 0.85em;
		color: darkgrey;
	}

	/* :global selector as workaround for JS templating */
	:global(.content pre) {
		white-space: pre-line;
		padding: 2px 4px;
		margin: 2px 4px 2px 0px;
		border: 1px solid var(--bg-dark);
	}

	:global(a.attachment) {
	}

	:global(.attachment.preview) {
		max-width: 300px;
		max-height: 300px;
		background-color: #F1F3F4;
		border: 1px solid #d0d0d0;
	}

	:global(.mention) {
		background-color: rgba(67, 181, 129, 0.5);
    	padding: 2px 3px;
	}

	:global(.mention:before) {
		content: "@";
	}

	:global(.mention.self) {
		background-color: rgba(250, 166, 26, 0.5);
	}

	:global(.emoji) {
		max-width: 1.2em;
		max-height: 1.2em;
		margin-bottom: -0.2em;
	}
</style>

<div class="message {msg.squash ? 'squashed' : ''}" id={msg.id}>
	{#if !msg.squash}
		<img class="author avatar" src={avatar} alt={msg.author.username} />
	{/if}

	<div>
		{#if !msg.squash}
			<span class="author">
				<span title={msg.author.username}>{nickname}</span>
				<span class="timestamp">{render.time(msg.timestamp)}</span>
			</span>
		{/if}

		<div class="message-content {msg.squash ? 'squashed' : ''}">
			<div class="content">
				{@html content}

				{#if msg.edited_timestamp}
					<span title={render.time(msg.edited_timestamp)} class="edited">
						(edited)
					</span>
				{/if}
			</div>

			{#each msg.attachments as attachment}
				{@html render.preview(attachment)}
			{/each}
		</div>
	</div>
</div>
