<script>
	import { discord, channelID, guildID, router } from "./store.js"
	import Main from "./pages/Main.svelte"
	import Auth from "./pages/Authenticate.svelte"

	import Navaid from "navaid"
	import { onDestroy } from "svelte"

	let Route
	let uri = location.pathname

	$router.on("/", () => {
		if ($discord) {
			$router.route(`/channel/${$channelID}`, true)
			return
		}

		Route = Auth
	})

	$router.on("/channels/:guild_id/:channel_id", params => {
		if (!$discord) {
			$router.route("/", true)
			return
		}

		let channel = $discord.channels[params.channel_id]
		if (!channel) {
			$router.route("/", true)
			return
		}

		$channelID = channel.id
		$guildID   = channel.guild_id

		Route = Main
	})

	$router.listen()

	onDestroy($router.unlisten)
</script>

<style>
	:global(:root) {
		/* Foreground and background colors */
		--bg:       #FAFAFA;
		--bg-dark:  #C7C7C7;
		--bg-light: #FFFFFF;
		--fg:       #000000;
		--fg-light: #616161;

		/* Accent color */
		--accent: #4285f4;

		/* Input transition */
		--input-transition: 100ms linear;
	}

	main {
		min-height: 100vh;
		margin: 0;
		padding: 0;
		background: var(--bg);
	}
</style>

<main>
	<svelte:component this={Route} />
</main>
